# INTRODUCTION TO PROGRAMMING

# CONTENT

1.PRINTING
2.ARITHMETICS
3.COMMENTS
4.VARIBLES

# Printing

One fo simplest form we ask the computer to print a txt.
Using print().For example print hello Bala

In [6]:
print("hello Bala")

hello Bala

# Arithematic using comments

# like wise we can print arithematic operations also like (Add,Sub,Multipication,Division) & we can add comments using # symbol before the txt.For example..

In [7]:
#in order for addition. lets add (2+55+36+89+45)
print(2+55+36+89+45)

227

In [8]:
#the same way Subtraction as follows multiplication & Division can also be performed
print(36-27)
print(36*4)
print(50/10)

9
144
5.0

# Varibles

In [11]:
# varibles can also be assigned with values and can be printed.  
# for example.
# txt_Bala is the varible using = sign we asigne a value and we can use operation like (26-6)
txt_Bala=26-6
print(txt_Bala)

20

## Note
VARIBLE should only start with a varible or underscore(_)
They can't have spaces (e.g., test var is not allowed)
They can only include letters, numbers, and underscores (e.g., test_var! is not allowed)
They have to start with a letter or underscore (e.g., 1_var is not allowed)

# Introduction to functions

Function is block of code designed to perform a specfic task.
for example...ar

In [2]:
# Define the function

def add_three(input_var):
    output_var = input_var + 3
    return output_var

In [5]:
# calling the funtion
# run the funtion with 12 as input
new_number = add_three(12)

In [6]:
print(new_number)

15

In [7]:
# Naming functions
def get_pay(num_hours):
    # Pre-tax pay, based on receiving $15/hour
    pay_pretax = num_hours * 15
    # After-tax pay, based on being in 12% tax bracket
    pay_aftertax = pay_pretax * (1 - .12)
    return pay_aftertax

In [8]:
# Calculate pay based on working 40 hours
pay_fulltime = get_pay(40)
print(pay_fulltime)

528.0

In [9]:
pay_parttime = get_pay(32)
print(pay_parttime)

422.4

# Introduction to data types

1.intergers
2.floats
3.booleans
4.strings

# integers
intergers are numbers without any fractional part it may be postive(1,2,3,...),negitive(-1,-2,-3...) or zero(0)

In [12]:
x = 10
print(x)
print(type(x))

10
<class 'int'>

# Float
Floats are number with fractional parts.they can have many numbers after decimal.

In [16]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [13]:
nearly_pi = 3.14
print(nearly_pi)
print(type(nearly_pi))

3.14
<class 'float'>

One function that is particularly useful for fractions is the round() function. 
It lets you round a number to a specified number of decimal places.

In [17]:

# Round to 6 decimal places
rounded_pi = round(almost_pi,6)
print(rounded_pi)
print(type(rounded_pi))

3.142857
<class 'float'>

# Booleans 
Booleans represent 'true' or 'false'.z_one is set to a boolean with value True.

In [19]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

In [21]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>